.additional-products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 320px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $leaf;
  }
}

.additional-products__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 35px;
}

.additional-products__title {
  width: 320px;
  margin: 0 auto;

  @include font-Oswald(24px, 24px);
  @include text-style($dark-grey1);
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 34px;
}

.additional-products__title span {
  width: auto;
  background-color: $white;
  position: relative;
  z-index: 5;
  padding-right: 24px;
  padding-left: 19px;
}

.additional-products__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include list;
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-top: 1px solid $pinkish-grey;

  &:last-of-type {
    border-bottom: 1px solid $pinkish-grey;
  }
  padding-top: 12px;
  padding-bottom: 18px;
}

.additional-products__subject {
  @include font-Oswald(16px, 16px);
  @include text-style($dark-grey2, uppercase);
  padding-bottom: 14px;
}

.additional-products__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include font-Arial(14px, 14px);
  @include text-style($greyish-brown);
  padding-bottom: 14px;
}

.additional-products__button {
  @include btn-green(16px, 20px);
  padding-top: 9px;
  padding-bottom: 11px;
  transition-duration: 0.6s;
  transition-timing-function: ease;

  @include link-btn($grass);
}

@media (min-width: $tablet-width) {
  .additional-products {
    width: 100%;

    &::after {
      top: 29px;
    }
  }

  .additional-products__title {
    width: 768px;

    @include font-Oswald(36px, 36px);
    padding-top: 7px;
    padding-bottom: 79px;
    padding-left: 30px;
  }

  .additional-products__title span {
    padding-left: 37px;
    padding-right: 37px;
  }

  .additional-products__wrapper {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 76px;
    width: 768px;
  }

  .additional-products__item {
    border-left: 1px solid $pinkish-grey;
    border-right: 1px solid $pinkish-grey;
    padding-top: 27px;
    padding-bottom: 25px;
    padding-right: 37px;
    padding-left: 37px;
  }

  .additional-products__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 633px;
    padding-bottom: 22px;
  }

  .additional-products__subject {
    @include font-Oswald(20px, 20px);
    width: 160px;
    padding-bottom: 0;
  }

  .additional-products__container {
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @include font-Arial(16px, 20px);
    padding-bottom: 0;
  }

  .additional-products__text {
    margin-right: 52px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    &::after {
      top: 38px;
    }
  }

  .additional-products__list {
    width: 895px;
  }

  .additional-products__wrapper {
    width: 1300px;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 86px;
  }

  .additional-products__title {
    width: 1300px;
    padding-top: 15px;
    padding-bottom: 81px;
    padding-left: 0;

    &::after {
      top: 38px;
    }
  }

  .additional-products__item {
    flex-direction: row;
    align-items: baseline;
    border-left: none;
    border-right: none;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 13px;
    padding-right: 0;
    padding-left: 0;
  }

  .additional-products__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 610px;
    padding-bottom: 0;
  }

  .additional-products__button {
    width: 245px;
  }

  .additional-products__container {
    justify-content: space-between;
    align-items: baseline;
    width: 285px;
  }
}
