.copyright {
  padding-top: 21px;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.copyright__text {
  @include font-Arial(16px, 16px);
  @include text-style($greyish-brown);
}

.copyright__image {
  fill: $brownish-grey;
  font-size: 0;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.copyright__link:hover .copyright__image,
.copyright__link:focus .copyright__image {
  fill: $leaf;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    width: 164px;
  }
}
