.promo {
  width: 100%;
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include center;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  width: 320px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 305px;
    background-color: $leaf;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    z-index: -1;
    background-size: contain;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.promo__title {
  @include font-Oswald(36px, 36px);
  @include text-style($white);
  padding-bottom: 24px;
}

.promo__slogan {
  @include font-Oswald(14px, 14px);
  @include text-style($white, uppercase);
  padding-bottom: 29px;
}

.promo__image {
  font-size: 0;
  padding-bottom: 2px;
}

.promo__image img {
  display: block;
  width: 280px;
  height: 271px;
}

.promo__button {
  @include btn-green(14px, 18px);
  padding-top: 11px;
  padding-bottom: 11px;
  transition-duration: 0.6s;
  transition-timing-function: ease;

  @include link-btn($grass);
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: 768px;
    padding-top: 56px;
    padding-right: 205px;
    padding-bottom: 529px;
    padding-left: 118px;
    text-align: left;
    display: block;

    &::before {
      display: none;
    }
  }

  .promo__title {
    @include font-Oswald(60px, 60px);
    @include text-style($dark-grey1);
    padding-bottom: 41px;
  }

  .promo__slogan {
    @include font-Oswald(20px, 20px);
    @include text-style($dark-grey1, uppercase);
    padding-bottom: 48px;
  }

  .promo__image {
    position: absolute;
    z-index: 0;
    top: 257px;
    right: 30px;
  }

  .promo__image img {
    width: 709px;
    height: 609px;
  }

  .promo__bg {
    display: none;
  }

  .promo__button {
    @include btn-green(20px, 20px);
    padding-top: 15px;
    padding-bottom: 17px;
    padding-right: 28px;
    padding-left: 26px;
    position: relative;
    z-index: 5;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper::before {
    content: "";
    position: absolute;
    background-color: $leaf;
    z-index: -1;
    display: block;
    left: 50%;
    top: -115px;
    right: 0;
    width: 650px;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 1440px auto;
    }
  }

  .promo__wrapper {
    width: 1300px;
    padding-top: 107px;
    padding-right: 662px;
    padding-left: 120px;
    padding-bottom: 268px;
  }

  .promo__title {
    padding-left: 0;

    padding-bottom: 42px;
  }

  .promo__slogan {
    padding-left: 0;
    padding-bottom: 52px;
  }

  .promo__image {
    position: absolute;
    top: 26px;
    left: 490px;
  }

  .promo__image img {
    width: 552px;
    height: 499px;
  }
}
