$white: #ffffff;
$greyish-white: #e6e6e6;
$whitish-grey: #d9d9d9;
$light-grey: #f2f2f2;
$black: #000000;
$dark-grey1: #111111;
$dark-grey2: #222222;
$dark-grey3: #dcdcdc;
$grey: #bababa;
$dark: #3f4242;
$brownish-grey: #666666;
$greyish-brown: #444444;
$leaf: #68b738;
$grass: #5eaa2f;
$pinkish-grey: #cdcdcd;
$white-five: #ededed;
$white-three: #ebebeb;
$peachy-pink:#ff8282;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dppx: 1.5dppx;
